<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/style/general.css" />
    <link rel="stylesheet" href="../src/style/main.css" />
    <title>MainForm</title>
  </head>
  <body>
    <header class="window__header counters-header">
      <h1 class="window__title">Главное меню</h1>
    </header>
    <section class="window__main main-menu">
      <button class="window__button counters-open">Счётчики</button>
      <button class="window__button receipts-report-btn">
        Отчёт "Квитанции"
      </button>
      <button class="window__button control-report-btn">
        Отчёт "Проверки"
      </button>
      <button class="window__button penalties-report-btn">Отчёт "Штраф"</button>
      <select name="intInspectorId" id="intInspectorId"></select>
    </section>
    <script src="../src/script/main.js"></script>
  </body>
</html>
